In [1]:
import pandas as pd
import seaborn as sns
import os


from sklearn.model_selection import train_test_split
from env import get_connection

In [2]:
def get_zillow():

    filename = 'new_zillow.csv'
    
    if os.path.isfile(filename):
        
        print('found data')
        
        return pd.read_csv(filename)
    
    else:
        
        print('retrieving data')
        
        query = '''
                SELECT *
                FROM properties_2017 AS p
                LEFT JOIN predictions_2017 AS pred ON pred.id = p.id
                LEFT JOIN airconditioningtype AS ac ON ac.airconditioningtypeid = p.airconditioningtypeid
                LEFT JOIN architecturalstyletype AS a ON a.architecturalstyletypeid = p.architecturalstyletypeid
                LEFT JOIN buildingclasstype AS bc ON bc.buildingclasstypeid = p.buildingclasstypeid
                LEFT JOIN heatingorsystemtype AS h ON h.heatingorsystemtypeid = p.heatingorsystemtypeid
                LEFT JOIN propertylandusetype AS pl ON pl.propertylandusetypeid = p.propertylandusetypeid
                LEFT JOIN storytype AS s ON s.storytypeid = p.storytypeid
                LEFT JOIN typeconstructiontype AS tc ON tc.typeconstructiontypeid = p.typeconstructiontypeid
                LEFT JOIN unique_properties AS u ON u.parcelid = p.parcelid
                WHERE transactiondate LIKE ('2017%%');
                '''
        
        url = get_connection('zillow')
        
        df = pd.read_sql(query, url)
        
        df.to_csv(filename, index = 0)
        
        return df

In [3]:
df = get_zillow()
df.head()

retrieving data

,id,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,...,buildingclassdesc,heatingorsystemtypeid,heatingorsystemdesc,propertylandusetypeid,propertylandusedesc,storytypeid,storydesc,typeconstructiontypeid,typeconstructiondesc,parcelid
0,0,10754147,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,...,None,NaN,None,269,Planned Unit Development,NaN,None,NaN,None,10754147
1,1,10759547,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,...,None,NaN,None,261,Single Family Residential,NaN,None,NaN,None,10759547
2,2,10843547,NaN,NaN,NaN,0.0,0.0,5.0,NaN,NaN,...,Specialized buildings that do not fit in any o...,NaN,None,47,Store/Office (Mixed Use),NaN,None,NaN,None,10843547
3,3,10859147,NaN,NaN,NaN,0.0,0.0,3.0,6.0,NaN,...,Buildings having exterior walls built of a non...,NaN,None,47,Store/Office (Mixed Use),NaN,None,NaN,None,10859147
4,4,10879947,NaN,NaN,NaN,0.0,0.0,4.0,NaN,NaN,...,Buildings having wood or wood and steel frames,NaN,None,31,Commercial/Office/Residential Mixed Used,NaN,None,NaN,None,10879947

In [6]:
df.shape

(77613, 78)

In [4]:
duplicates = df[df.duplicated(subset= ['transactiondate', 'id'], keep=False)]

In [5]:
if not duplicates.empty:
    
    print("Duplicates found:")
    print(duplicates)

else:
    print("No duplicates.")

No duplicates.